

  <header-component></header-component>
  
  <div class="header-bg">
  <div class="container">
  <div class="rev_slider_wrapper">
  
  <div id="rev_slider_1" class="rev_slider" data-version="5.4.5" style="display:none">
  
  <ul>
  
  <li data-index="rs-1" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide">
  
  <div class="tp-caption LandingPage-Title tp-resizeme" id="slide-1-layer-1" data-x="['left','center','center','center']" data-hoffset="none" data-y="['top','top','top','top']" data-voffset="['170','50','70','45']" data-fontsize="['60','60','45','35']" data-lineheight="['85','85','55','40']" data-letterspacing="4" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','center','center','center']" data-fontweight="400" style="z-index: 5; white-space: nowrap;">The Best Place To <br> Satisfy Your Tummy</div>
  
  <div class="tp-caption LandingPage-SubTitle   tp-resizeme" id="slide-1-layer-2" data-x="['left','center','center','center']" data-hoffset="none" data-y="['top','top','top','top']" data-voffset="['355','240','215','140']" data-fontsize="['25','25','17','17']" data-lineheight="['30','30','25','25']" data-width="['450','450','450','450']" data-fontweight="500" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','center','center']" style="z-index: 7;white-space: normal;font-style:normal;">Special Mashroom Fry Pizza Only At
  </div>
  
  <div class="tp-caption LandingPage-SubTitle tp-resizeme" id="slide-1-layer-3" data-x="['left','center','center','center']" data-hoffset="none" data-y="['top','top','top','top']" data-voffset="['415','300','270','185']" data-fontsize="['20','20','17','17']" data-lineheight="['30','30','25','25']" data-width="['380','380','380','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','center','center','center']" style="z-index: 7;white-space: normal;font-style:normal; display: flex;align-items: center; max-width: 300px;">
  <a href="shop-details.html" class="btn">Order Now <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <p class="header-product-price color-white">$10.99 <del>$18.99</del></p>
  </div>
  
  <div class="tp-caption tp-resizeme" id="slide-1-layer-4" data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['87','380','370','270']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-carousel-1.png" alt="" data-ww="['550px','550px','550px','550px']" data-hh="['520px','520px','520px','520px']" width="650" height="615" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-1-layer-5" data-x="['left','left','left','left']" data-y="['top','top','top','top']" data-voffset="['30','30','30','30']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:-50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-1-layer-6" data-x="['center','center','center','center']" data-y="['top','top','top','top']" data-voffset="['50','-10','10','-20']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-2.png" alt="" data-ww="['90px','90px','90px','90px']" data-hh="['81px','81px','81px','81px']" width="90" height="81" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-1-layer-7" data-x="['right','right','right','right']" data-y="['top','top','top','top']" data-voffset="['-45','-45','-45','-75']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-3.png" alt="" data-ww="['110px','110px','110px','110px']" data-hh="['143px','143px','143px','143px']" width="110" height="143" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-1-layer-8" data-x="['right','right','right','right']" data-y="['top','top','top','top']" data-voffset="['150','150','150','150']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:-50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-1-layer-9" data-x="['center','center','center','center']" data-y="['center','center','center','center']" data-voffset="['150','150','150','150']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-1-layer-10" data-x="['left','left','left','left']" data-y="['bottom','bottom','bottom','bottom']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-3.png" alt="" data-ww="['110px','110px','110px','110px']" data-hh="['143px','143px','143px','143px']" width="110" height="143" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-1-layer-11" data-x="['right','right','right','right']" data-y="['bottom','bottom','bottom','bottom']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-4.png" alt="" data-ww="['318px','318px','318px','318px']" data-hh="['209px','209px','209px','209px']" width="318" height="209" data-no-retina> </div>
  </li>
  
  <li data-index="rs-2" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide">
  
  <div class="tp-caption LandingPage-Title tp-resizeme" id="slide-2-layer-1" data-x="['left','center','center','center']" data-hoffset="none" data-y="['top','top','top','top']" data-voffset="['170','50','70','45']" data-fontsize="['60','60','45','35']" data-lineheight="['85','85','55','40']" data-letterspacing="4" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','center','center','center']" data-fontweight="400" style="z-index: 5; white-space: nowrap;">We Ensure That You <br> Will Be Satisfied</div>
  
  <div class="tp-caption LandingPage-SubTitle   tp-resizeme" id="slide-2-layer-2" data-x="['left','center','center','center']" data-hoffset="none" data-y="['top','top','top','top']" data-voffset="['355','240','215','140']" data-fontsize="['25','25','17','17']" data-lineheight="['30','30','25','25']" data-width="['450','450','450','450']" data-fontweight="500" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','center','center']" style="z-index: 7;white-space: normal;font-style:normal;">Double Layer Garlic Sauce Burger
  </div>
  
  <div class="tp-caption LandingPage-SubTitle tp-resizeme" id="slide-2-layer-3" data-x="['left','center','center','center']" data-hoffset="none" data-y="['top','top','top','top']" data-voffset="['415','300','270','185']" data-fontsize="['20','20','17','17']" data-lineheight="['30','30','25','25']" data-width="['380','380','380','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','center','center','center']" style="z-index: 7;white-space: normal;font-style:normal; display: flex;align-items: center; max-width: 300px;">
  <a href="shop-details.html" class="btn">Order Now <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <p class="header-product-price color-white">$9.99 <del>$15.99</del></p>
  </div>
  
  <div class="tp-caption tp-resizeme" id="slide-2-layer-4" data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['87','380','370','270']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-carousel-2.png" alt="" data-ww="['550px','550px','550px','550px']" data-hh="['520px','520px','520px','520px']" width="650" height="615" data-no-retina> </div>
   
  <div class="tp-caption tp-resizeme" id="slide-2-layer-5" data-x="['left','left','left','left']" data-y="['top','top','top','top']" data-voffset="['30','30','30','30']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:-50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-2-layer-6" data-x="['center','center','center','center']" data-y="['top','top','top','top']" data-voffset="['50','-10','10','-20']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-2.png" alt="" data-ww="['90px','90px','90px','90px']" data-hh="['81px','81px','81px','81px']" width="90" height="81" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-2-layer-7" data-x="['right','right','right','right']" data-y="['top','top','top','top']" data-voffset="['-45','-45','-45','-75']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-3.png" alt="" data-ww="['110px','110px','110px','110px']" data-hh="['143px','143px','143px','143px']" width="110" height="143" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-2-layer-8" data-x="['right','right','right','right']" data-y="['top','top','top','top']" data-voffset="['150','150','150','150']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:-50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-2-layer-9" data-x="['center','center','center','center']" data-y="['center','center','center','center']" data-voffset="['150','150','150','150']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-2-layer-10" data-x="['left','left','left','left']" data-y="['bottom','bottom','bottom','bottom']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-3.png" alt="" data-ww="['110px','110px','110px','110px']" data-hh="['143px','143px','143px','143px']" width="110" height="143" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-2-layer-11" data-x="['right','right','right','right']" data-y="['bottom','bottom','bottom','bottom']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-4.png" alt="" data-ww="['318px','318px','318px','318px']" data-hh="['209px','209px','209px','209px']" width="318" height="209" data-no-retina> </div>
  </li>
  
  <li data-index="rs-3" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-rotate="0" data-saveperformance="off" data-title="Slide">
  
  <div class="tp-caption LandingPage-Title tp-resizeme" id="slide-3-layer-1" data-x="['left','center','center','center']" data-hoffset="none" data-y="['top','top','top','top']" data-voffset="['170','50','70','45']" data-fontsize="['60','60','45','35']" data-lineheight="['85','85','55','40']" data-letterspacing="4" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":500,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','center','center','center']" data-fontweight="400" style="z-index: 5; white-space: nowrap;">Best Combo Offer <br> For Your Satisfiction</div>
  
  <div class="tp-caption LandingPage-SubTitle   tp-resizeme" id="slide-3-layer-2" data-x="['left','center','center','center']" data-hoffset="none" data-y="['top','top','top','top']" data-voffset="['355','240','215','140']" data-fontsize="['25','25','17','17']" data-lineheight="['30','30','25','25']" data-width="['450','450','450','450']" data-fontweight="500" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','left','center','center']" style="z-index: 7;white-space: normal;font-style:normal;">Burger + Chicken + Drinks
  </div>
  
  <div class="tp-caption LandingPage-SubTitle tp-resizeme" id="slide-3-layer-3" data-x="['left','center','center','center']" data-hoffset="none" data-y="['top','top','top','top']" data-voffset="['415','300','270','185']" data-fontsize="['20','20','17','17']" data-lineheight="['30','30','25','25']" data-width="['380','380','380','380']" data-height="none" data-whitespace="normal" data-type="text" data-responsive_offset="on" data-frames='[{"from":"x:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' data-textAlign="['left','center','center','center']" style="z-index: 7;white-space: normal;font-style:normal; display: flex;align-items: center; max-width: 300px;">
  <a href="shop-details.html" class="btn">Order Now <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <p class="header-product-price color-white">$20.99 <del>$28.99</del></p>
  </div>
  
  <div class="tp-caption tp-resizeme" id="slide-3-layer-4" data-x="['right','center','center','center']" data-hoffset="['0','0','0','0']" data-y="['top','top','top','top']" data-voffset="['87','380','370','270']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:0;y:0;z:0;rX:0;rY:0;rZ:0;sX:0.75;sY:0.75;skX:0;skY:0;opacity:0;","speed":1500,"to":"o:1;","delay":1000,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-carousel-3.png" alt="" data-ww="['550px','550px','550px','550px']" data-hh="['520px','520px','520px','520px']" width="650" height="615" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-3-layer-5" data-x="['left','left','left','left']" data-y="['top','top','top','top']" data-voffset="['30','30','30','30']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:-50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-3-layer-6" data-x="['center','center','center','center']" data-y="['top','top','top','top']" data-voffset="['50','-10','10','-20']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:-50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-2.png" alt="" data-ww="['90px','90px','90px','90px']" data-hh="['81px','81px','81px','81px']" width="90" height="81" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-3-layer-7" data-x="['right','right','right','right']" data-y="['top','top','top','top']" data-voffset="['-45','-45','-45','-75']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-3.png" alt="" data-ww="['110px','110px','110px','110px']" data-hh="['143px','143px','143px','143px']" width="110" height="143" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-3-layer-8" data-x="['right','right','right','right']" data-y="['top','top','top','top']" data-voffset="['150','150','150','150']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:-50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-3-layer-9" data-x="['center','center','center','center']" data-y="['center','center','center','center']" data-voffset="['150','150','150','150']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"x:50px;rZ: -120deg;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-1.png" alt="" data-ww="['42px','42px','42px','42px']" data-hh="['43px','43px','43px','43px']" width="42" height="43" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-3-layer-10" data-x="['left','left','left','left']" data-y="['bottom','bottom','bottom','bottom']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-3.png" alt="" data-ww="['110px','110px','110px','110px']" data-hh="['143px','143px','143px','143px']" width="110" height="143" data-no-retina> </div>
  
  <div class="tp-caption tp-resizeme" id="slide-3-layer-11" data-x="['right','right','right','right']" data-y="['bottom','bottom','bottom','bottom']" data-type="image" data-responsive_offset="on" data-frames='[{"from":"y:50px;opacity:0;","speed":1500,"to":"o:1;","delay":700,"ease":"Power3.easeOut"},{"delay":"wait","speed":300,"to":"opacity:0;","ease":"nothing"}]' style="z-index: 8;border-width:0px;"><img src="assets/images/header-shape-4.png" alt="" data-ww="['318px','318px','318px','318px']" data-hh="['209px','209px','209px','209px']" width="318" height="209" data-no-retina> </div>
  </li>
  </ul>
  
  </div>
  </div>
  </div>
  </div>
  
  
  <section class="welcome-section bg-overlay-1 pt-100 pb-70 bg-black">
  <div class="container">
  <div class="row align-items-center">
  <div class="col-sm-12 col-md-5 col-lg-5 pb-30">
  <div class="section-title section-title-left text-center text-md-start m-0">
  <small>Welcome To Fafo</small>
  <h2 class="color-white">We Serve The Best Food Of The Country</h2>
  <p>We are the country's no.1 Fast food retailer with 15+ years of reputation. Country's best burger and pizza are delivered by us. We gain the satisfaction of our customers with our delicate service and extreme high food quality.</p>
  <a href="about-us.html" class="btn">
  More About Us
  <i class="flaticon-right-arrow-sketch-1"></i>
  </a>
  </div>
  </div>
  <div class="col-sm-12 col-md-7 col-lg-7">
  <div class="about-image-grid">
  <div class="about-image-grid-item">
  <div class="about-image-grid-inner mb-30">
  <img src="assets/images/welcome-image-1.jpg" alt="welcome">
  </div>
  <div class="about-image-grid-inner mb-30">
  <img src="assets/images/welcome-image-2.jpg" alt="welcome">
  </div>
  </div>
  <div class="about-image-grid-item">
  <div class="about-image-grid-inner fluid-height">
  <img src="assets/images/welcome-image-3.jpg" alt="welcome">
  </div>
   </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  
  
  <section class="menu-section menu-section-bg pt-100 pb-70 bg-black">
  <div class="container position-relative">
  <div class="section-title">
  <small>Menu</small>
  <h2 class="color-white">Just Choose From The Best</h2>
  </div>
  <div class="menu-main-carousel-area">
  <div class="menu-main-thumb-nav">
  <div class="menu-main-thumb-item">
  <div class="menu-main-thumb-inner">
  <img src="assets/images/menu-1.png" alt="menu">
  <p>Burger</p>
  </div>
  </div>
  <div class="menu-main-thumb-item">
  <div class="menu-main-thumb-inner">
  <img src="assets/images/menu-2.png" alt="menu">
  <p>Pizza</p>
  </div>
  </div>
  <div class="menu-main-thumb-item">
  <div class="menu-main-thumb-inner">
  <img src="assets/images/menu-3.png" alt="menu">
  <p>Sandwitch</p>
  </div>
  </div>
  <div class="menu-main-thumb-item">
  <div class="menu-main-thumb-inner">
  <img src="assets/images/menu-4.png" alt="menu">
  <p>Shake</p>
  </div>
  </div>
  <div class="menu-main-thumb-item">
  <div class="menu-main-thumb-inner">
  <img src="assets/images/menu-5.png" alt="menu">
  <p>Ice-Cream</p>
  </div>
  </div>
  <div class="menu-main-thumb-item">
  <div class="menu-main-thumb-inner">
  <img src="assets/images/menu-6.png" alt="menu">
  <p>Dessert</p>
  </div>
  </div>
  </div>
  <div class="menu-main-details-for">
  <div class="menu-main-details-item">
  <div class="menu-details-carousel">
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Chicken Burger</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$12.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/burger-slider-1.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Mexican Burger</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$10.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/burger-slider-2.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Double Dekar</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/burger-slider-3.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Beefka Burger</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/burger-slider-4.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Avocado Dekar</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/burger-slider-5.png" alt="menu">
  </div>
  </div>
  </div>
  </div>
  <div class="menu-main-details-item">
  <div class="menu-details-carousel">
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Cheese Pizza</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$12.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/pizza-slider-1.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Mexican Pizza</h3>
   <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$10.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/pizza-slider-2.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Italiano Pizza</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/pizza-slider-3.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Beefka Pizza</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/pizza-slider-4.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Chicken Pizza</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/pizza-slider-5.png" alt="menu">
  </div>
  </div>
  </div>
  </div>
  <div class="menu-main-details-item">
  <div class="menu-details-carousel">
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Italiano Sandwitch</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$12.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
   <img src="assets/images/sandwitch-slider-1.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>American Sandwitch</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$10.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/sandwitch-slider-2.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Jam Sandwitch</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/sandwitch-slider-3.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Avocado Sandwitch</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/sandwitch-slider-4.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Egg Sandwitch</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/sandwitch-slider-5.png" alt="menu">
  </div>
  </div>
  </div>
  </div>
  <div class="menu-main-details-item">
  <div class="menu-details-carousel">
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Cherry Venilla</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
   <h4 class="menu-price">$12.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/shake-slider-1.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Strawberry Shake</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$10.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/shake-slider-2.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Fruty Pebble</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/shake-slider-3.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Oreo Shake</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/shake-slider-4.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Banana Shake</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/shake-slider-5.png" alt="menu">
  </div>
  </div>
  </div>
  </div>
  <div class="menu-main-details-item">
  <div class="menu-details-carousel">
   <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Creamy Cream</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$12.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/icecream-slider-1.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Regular Chocolate</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$10.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/icecream-slider-2.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>French Icecream</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/icecream-slider-3.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Perfect Pear</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/icecream-slider-4.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Light Icecream</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/icecream-slider-5.png" alt="menu">
  </div>
  </div>
  </div>
  </div>
  <div class="menu-main-details-item">
  <div class="menu-details-carousel">
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Decadent</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$12.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/dessert-slider-1.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Frozen</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$10.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/dessert-slider-2.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Luscious</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/dessert-slider-3.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Creamy</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
  <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/dessert-slider-4.png" alt="menu">
  </div>
  </div>
  <div class="menu-details-carousel-item menu-details-carousel-black">
  <h3>Zesty</h3>
  <p>This Mexican Style Burger is pumped out with flavor from chilli powder, cilantro & jalapeno pepper.</p>
  <h4 class="menu-price">$20.99</h4>
   <a href="#" class="btn btn-yellow">
  Add To Cart <i class="flaticon-shopping-cart-black-shape"></i>
  </a>
  <div class="menu-details-carousel-image">
  <img src="assets/images/dessert-slider-5.png" alt="menu">
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  
  
  <section class="step-section p-tb-100 bg-black">
  <div class="container">
  <div class="section-title">
  <h2 class="color-white">3 Easy Steps To Enjoy</h2>
  </div>
  <div class="steps-box">
  <div class="row">
  <div class="col-sm-12 col-md-6 col-lg-4">
  <div class="steps-item">
  <h3>1. Choose</h3>
  <p>Choose Your Best Combos From The Thousands Of Exciting Items.</p>
  </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4">
  <div class="steps-item">
  <h3>2. Pay</h3>
  <p>Pay Through Online Easily. We Use The Most Safe way In Payment.</p>
  </div>
  </div>
  <div class="col-sm-12 col-md-6 col-lg-4 offset-md-3 offset-lg-0">
  <div class="steps-item">
  <h3>3. Enjoy</h3>
  <p>Enjoy Your Meal From The Core Of Heart & Feel The Taste Inside.</p>
  </div>
  </div>
  </div>
  </div>
  </div>
  </section>
  
  <!-- Speciality Section -->
 <speciality-component></speciality-component>

  <!-- Combo Section -->
  <combo-component></combo-component>
  <!-- Download Section -->
  <downloads-component></downloads-component>
  
  <!-- Testimonial Section -->
  <testimonial-component></testimonial-component>
  
  
  <div class="video-section p-tb-100">
  <div class="container">
  <div class="video-button">
  <a href="https://www.youtube.com/watch?v=h_YmYLYi65k" id="video-popup"><i class="flaticon-play-button"></i></a>
  </div>
  </div>
  </div>
  
  
  
  <!-- Blog Section -->
  <blog-component></blog-component>
  <!-- Subscribe Section -->
  <subscribe-component></subscribe-component>
  <!-- Footer Section -->
  <footer-component></footer-component>
  
  <div class="cart-modal-wrapper">
  <div class="cart-modal modal-item">
  <div class="cart-modal-header">
  <h3 class="color-white">Cart 2</h3>
  <div class="cart-modal-close">
  <i class="flaticon-cancel"></i>
  </div>
  </div>
  <div class="cart-modal-body">
  <h2 class="color-white">My Order</h2>
  <div class="cart-modal-product">
  <div class="cart-modal-thumb">
  <a href="shop-details.html">
  <img src="assets/images/product-1.png" alt="product">
  </a>
  </div>
  <div class="cart-modal-content">
  <h4><a href="shop-details.html">Crispy Chicken Burger</a></h4>
  <div class="cart-modal-action">
  <div class="cart-modal-action-item">
  <div class="cart-modal-quantity">
  <p>1</p>
  <p>x</p>
  <p class="cart-quantity-price">$ 4.50</p>
  </div>
  </div>
  <div class="cart-modal-action-item">
  <div class="cart-modal-delete">
  <a href="#"><i class="icofont-ui-delete"></i></a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="cart-modal-product">
  <div class="cart-modal-thumb">
  <a href="shop-details.html">
  <img src="assets/images/product-2.png" alt="product">
  </a>
  </div>
  <div class="cart-modal-content">
  <h4><a href="shop-details.html">Red Sause Pizza</a></h4>
  <div class="cart-modal-action">
  <div class="cart-modal-action-item">
  <div class="cart-modal-quantity">
  <p>1</p>
  <p>x</p>
  <p class="cart-quantity-price">$ 3.50</p>
  </div>
  </div>
  <div class="cart-modal-action-item">
  <div class="cart-modal-delete">
  <a href="#"><i class="icofont-ui-delete"></i></a>
  </div>
  </div>
  </div>
  </div>
  </div>
  <div class="cart-modal-total">
  <p>Total</p>
  <h3>$8.0</h3>
  </div>
  <div class="cart-modal-button">
  <a href="checkout.html" class="btn full-width">Proceed To Checkout</a>
  <a href="cart.html" class="btn btn-yellow full-width">View Shopping Cart</a>
  </div>
  
  
  </div>
  </div>
  </div>
  
  
  <div class="scroll-top" id="scrolltop">
  <div class="scroll-top-inner">
  <span><i class="flaticon-up-arrow"></i></span>
  </div>
  </div>
  